{# / #}
{% extends "template.html" %}

{% block head %}
<!--<meta http-equiv="refresh" content="60" />-->
{% endblock head%}

{% block main %}
<div class="part">
    <h2>Admin</h2>
    <section id="list" class="list">
        <h3><img src="/img/arma.gif" class="picto rare"> 
            Destroy! (delete data)</h3>
        <hr class="spacer">
        <form action="/adm/stat/clean" method="post">
            <input type="submit" value="Clear all stats data" class="big red"> 
        </form>
        <hr class="spacer">
        <form action="/adm/rank/clean" method="post">
            <input type="submit" value="Reset every ranking" class="big red">
        </form>
        <hr class="spacer">
        <form action="/adm/stat/unlist" method="post">
            <input type="submit" value="Clear stats list (dangerous)" 
                class="big red">
        </form>
    </section>
</div>
{% endblock main %}
