{# / #}
{% extends "template.html" %}

{% block head %}
<!--<meta http-equiv="refresh" content="60" />-->
{% endblock head%}

{% block main %}
<div class="part">
    <fieldset id="list" class="list">
        <legend>Admin</legend>
        <h3><img src="/img/arma.gif" class="picto rare"> 
            Destroy! (delete data)</h3>
        <form action="/adm/stat/clean" method="post">
            <input type="submit" value="Clear all stats data" class="big">
        </form>
        <form action="/adm/rank/clean" method="post">
            <input type="submit" value="Reset every ranking" class="big">
        </form>
        <form action="/adm/stat/unlist" method="post">
            <input type="submit" value="Clear stats list (dangerous)" 
                class="big">
        </form>
    </fieldset>
</div>
{% endblock main %}
