{# / #}
{% extends "template.html" %}

{% block head %}
{% endblock head%}

{% block main %}
    <div class="part">
        <h2>About</h2>
        <section>
            <h3><img class="picto"
                src='data:image/gif,GIF89a%10%00%10%00%B3%0B%00%60%C7%EDF%2B%17~M%2A%3Bz%91%CA%ED%FFb%3C%21M%A0%BF%82ud%BDt%3F%95%DA%F6%FF%FF%FF~M%2A%00%00%00%00%00%00%00%00%00%00%00%00%21%F9%04%01%00%00%0B%00%2C%00%00%00%00%10%00%10%00%00%04bp%C9I%AB%5D%21%E7%2BK8%40x%04%85%E5%01%09%A1%10%09%40R%27%21%B3%A1%5BJA%28%20%02%20%D0.%1Ch%C7%13%F4%00%03%C3%08%03%20%10%7F%21%C3%60%10%CC%B1%8C%21%84tZm%3Ak%86"5%80%01%7D%B7F%81%92%CC%04l%A7%C6%F1%E44%85%0B%C6%B7N%0Em%B0%99%3E5%23y%16%1A%1B%14%11%00%3B'
                > Where am I ?</h3>
            <p>Welcome to Duke's villa. This place is oozing with everything
            needed by fully fledged heroes… potions, alcohol, spells and
            weapons. A fortress to meet your every need! It will only be a
            matter of time before heroes start to gather to brag about their
            combats and conquests and to squabble over which one is the best
            warrior, the best conqueror or the worst one.</p>
            <p>Here, we measure heroes give them their ranking. Are you ready
            to measure yours?</p>
        </section>
    </div>
{% endblock main %}
