<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>
        {% block title %}Duke's Villa, a Home for Heroes.{% endblock %}
    </title>
	<link rel="StyleSheet" href="/css/hordes.css"/>
	{% block head %}{%endblock head%}
</head>
<body>
	<div id="body">
		<a href="/" id="bann">
            <img src="/img/bann.gif" alt="Duke's Villa">
		</a>
        <!--
        <ul id="local">
            <li>{{me.name}}
            <li>{{me.id}}
        </ul>
        -->
        {% if e %}
		<p id="alrt">
            <img src="/img/h_warning.gif" alt=":!!:" />
            {{ p }}
		</p>
        {% endif %}
        {% block menu %}
        <div id="menubg">
            <ul id="menu">
                <li>
                    <img alt="" src="/img/menu_start.gif" />
                    {#
                <li class="item">
                    <img alt="/-\" src="/img/city.gif" />
                    <a href="/" >Accueil</a>
                    #}
                {% if not me %}
                <li class="item">
                    <a href="/login">
                        <img alt="i" src="/img/human.gif" /> Login</a>
                {% else %}
                <li class="item">
                    <a href="/logout">
                        <img alt="i" src="/img/human.gif" /> Logout</a>
                {% endif %}
                <li class="item {{page|select("rank")}}">
                    <a href="/rank">
                        <img alt="*" src="/img/star.gif" /> Ranking</a>
                {% if me|isAdmin %}
                <li class="item {{page|select("adm")}}">
                    <a href="/adm">
                        <img alt="A" src="/img/item_desk.gif" /> Admin</a>
                {% endif %}

            </ul>
        </div>
        {% endblock menu %}

        <div id="main">
        {% block main %}

            <div class="part">
                <fieldset>
                </fieldset>
            </div>

    {% endblock main %}	
        </div>
	</div>
    <div id="foot">Most images and data used on this website are © Motion-Twin.
        This website is NOT affiliated with Die2Nite.<br>
        Texts are by courtesy of Amy Emma Aniasham Oldfield McNab.
    </div>
  </body>
</html>
