html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
}

#body {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -34px;
}
#body #main {
  height: 34px;
}

#foot {
  clear: both;
  position: relative;
  height: 34px;
}

body {
  margin: 0px;
  padding: 0 20px;
  font: 14px sans-serif;
  color: #efd78e;
  overflow-y: scroll;
  background: #421414 url("/img/bg.gif") center repeat-y;
}

#body {
  position: relative;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 321px) and (max-width: 985px) {
  #body {
    width: 600px;
  }
}

#bann {
  display: block;
  height: 100px;
  background: #421414;
}

#local {
  position: absolute;
  top: 10px;
  left: 530px;
  width: 140px;
  list-style: none;
}

#alrt {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 180px;
  height: 55px;
  margin: 0px;
  padding: 10px;
  background: url("/img/postit.gif");
  color: #663c2d;
  font-weight: bold;
}

#menubg {
  width: 100%;
  height: 30px;
  margin: 0;
  padding-start: 0;
  background: url("/img/menu_bg.gif") repeat-x 0 0;
}

#main {
  clear: both;
  padding-top: 20px;
}
#main .part {
  float: left;
  width: 450px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#main .part fieldset {
  border: 2px inset #efd78e;
  border-radius: 10px;
  background-color: #421414;
  padding-bottom: 10px;
}
#main .part fieldset legend {
  width: 212px;
  border: none;
  color: black;
  font-variant: small-caps;
  text-align: center;
  background: url("/img/header.png") center no-repeat;
}

#foot {
  height: 32px;
  width: 886px;
  margin: auto;
  padding: 2px 10px;
  border: 2px inset #efd78e;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background-color: #421414;
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  color: #efd78e;
}

img {
  border: none;
}

hr {
  width: 50%;
  color: #efd78e;
}

p {
  text-align: justify;
  padding: 0 10px 5px;
}

cite {
  display: block;
  margin: 7px 15px 0px 7px;
  padding-left: 7px;
  border-left: 1px dashed #ddab76;
  color: #ddab76;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 10px 0;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

.picto {
  padding: 8px;
  vertical-align: middle;
  background: url(/img/rewardBg_trash.gif);
}
.picto.rare {
  background: url(/img/rewardBg_rare.gif);
}

#menu li {
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
#menu .item {
  margin: 5px 0 0 16px;
  padding: 0 7px;
  background: #663c2d;
  border-radius: 5px;
}
#menu .item:hover, #menu .item.select:hover {
  background: #421414;
}
#menu .item.select {
  background: #572620;
}
#menu .item a {
  text-decoration: none;
  font-weight: bold;
}
#menu .item a.name {
  text-transform: none;
}
#menu .item img {
  margin: 0;
  padding: 0;
  height: 16px;
  vertical-align: middle;
}

#main ul {
  margin: 5px 0;
  padding: 0 15px;
}
#main ul li {
  margin: 4px 0;
  list-style-type: none;
}
#main ul li a {
  display: block;
  padding: 2px 5px;
  text-decoration: none;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
}
#main ul li a:hover {
  border-color: #efd78e;
  background: #421414;
}
#main ul li a.select {
  border-color: #afacc1;
  background-color: #696486;
}
#main dl {
  display: block;
  margin: 10px;
}
#main dl dt, #main dl dd {
  margin-bottom: 1px;
  color: #e3c699;
  border-bottom: 1px solid #b37c4a;
}
#main dl dt {
  position: relative;
  float: left;
  clear: both;
  width: 80px;
  height: 17px;
  padding-left: 25px;
  background-color: #b37c4a;
  border-radius: 10px 0 0 2px;
  color: white;
  font-weight: bold;
  overflow: hidden;
}
#main dl dd {
  display: block;
  width: 300px;
  height: 17px;
  padding-left: 5px;
  background-color: #996739;
  overflow: hidden;
}
