html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
}

#body {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
#body #main {
  height: 40px;
}

#foot {
  clear: both;
  position: relative;
  height: 40px;
}

body {
  margin: 0px;
  padding: 0 20px;
  font: 14px sans-serif;
  color: #ddab76;
  overflow-y: scroll;
  background: #421414 url("/img/bg.gif") center repeat-y;
}

#body {
  position: relative;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 321px) and (max-width: 985px) {
  #body {
    width: 600px;
  }
}

#bann {
  display: block;
  height: 100px;
  background: #421414;
}
#bann h1 {
  display: inline-block;
  height: 100px;
  margin: 0px;
  font-size: 64px;
  font-family: Bevan, fantasy;
  vertical-align: top;
  color: #ddab76;
  text-shadow: 6px 6px 0px #520000;
}

#local {
  position: absolute;
  top: 10px;
  left: 530px;
  width: 140px;
  list-style: none;
}

#alrt {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 180px;
  height: 55px;
  margin: 0px;
  padding: 10px;
  background: url("/img/postit.gif");
  color: #663c2d;
  font-weight: bold;
}

#menubg {
  width: 100%;
  height: 30px;
  margin: 0;
  padding-start: 0;
  background: url("/img/menu_bg.gif") repeat-x 0 0;
}

#main {
  clear: both;
  padding-top: 20px;
}
#main .part {
  float: left;
  width: 450px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#main .part h2 {
  position: relative;
  width: 212px;
  margin: 0 auto -8px;
  color: black;
  font-size: 14px;
  font-variant: small-caps;
  font-family: sans-serif;
  text-align: center;
  background: url("/img/header.png") center no-repeat;
  z-index: 100;
}
#main .part section {
  position: relative;
  z-index: 10;
  border: 2px inset #ddab76;
  border-radius: 10px;
  background-color: #421414;
  padding-top: 8px;
  padding-bottom: 10px;
  overflow: hidden;
}

#foot {
  height: 36px;
  width: 886px;
  margin: auto;
  padding: 2px 10px 0px;
  border: 2px inset #ddab76;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background-color: #421414;
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  color: #ddab76;
}

img {
  border: none;
}

hr {
  width: 50%;
  color: #ddab76;
}

p {
  text-align: justify;
  padding: 0 10px 5px;
}

cite {
  display: block;
  margin: 7px 15px 0px 7px;
  padding-left: 7px;
  border-left: 1px dashed #efd78e;
  color: #efd78e;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px 10px 4px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
}

.picto {
  padding: 8px;
  vertical-align: middle;
  background: url(/img/rewardBg_trash.gif);
}
.picto.rare {
  background: url(/img/rewardBg_rare.gif);
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  margin-left: 32px;
  padding-left: 16px;
  background: url(/img/tickOff.gif) no-repeat center left;
  cursor: pointer;
}
input[type=checkbox]:checked + label {
  background: url(/img/tickOn.gif) no-repeat center left;
}

#menu li {
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
#menu .item {
  margin: 5px 0 0 16px;
  padding: 0 7px;
  background: #663c2d;
  border-radius: 5px;
}
#menu .item:hover, #menu .item.select:hover {
  background: #421414;
}
#menu .item.select {
  background: #572620;
}
#menu .item a {
  color: #efd78e;
  text-decoration: none;
  font-weight: bold;
}
#menu .item a.name {
  text-transform: none;
}
#menu .item img {
  margin: 0;
  padding: 0;
  height: 16px;
  vertical-align: middle;
}

#main ul {
  margin: 0 0 -10px;
  padding: 5px 15px;
}
#main ul.short {
  max-height: 380px;
  overflow: auto;
}
#main ul.extra li {
  margin-bottom: 12px;
}
#main ul li {
  margin: 4px 0;
  list-style-type: none;
}
#main ul li.entry {
  display: inline-block;
  width: 200px;
  height: 32px;
  margin-top: 10px;
}
#main ul li.entry a {
  display: block;
  width: 150px;
  height: 32px;
  padding: 2px 5px 2px 38px;
  text-indent: -36px;
  text-decoration: none;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  overflow: hidden;
  z-index: 10;
}
#main ul li.entry a:hover {
  border-color: #ddab76;
  background: #663c2d;
  height: auto;
  z-index: 100;
}
#main ul li.entry a.select {
  border-color: #afacc1;
  background-color: #696486;
}
#main dl {
  display: block;
  margin: 10px;
}
#main dl dt, #main dl dd {
  margin-bottom: 1px;
  border-bottom: 1px solid #b37c4a;
  color: #efd78e;
}
#main dl dt a, #main dl dd a {
  color: #efd78e;
}
#main dl dt {
  position: relative;
  float: left;
  clear: both;
  width: 80px;
  height: 17px;
  padding-left: 25px;
  background-color: #b37c4a;
  border-radius: 10px 0 0 2px;
  font-weight: bold;
  overflow: hidden;
}
#main dl dd {
  display: block;
  width: 300px;
  height: 17px;
  padding-left: 5px;
  background-color: #996739;
  overflow: hidden;
}

input[type=submit], input[type=button], input[type="reset"] {
  margin-right: 8px;
  padding: 3px 10px;
  cursor: pointer;
  font-weight: bold;
  color: #efd78e;
  background: #663c2d;
  border: 3px solid #845423;
  box-shadow: black 6px 6px;
}
input[type=submit]:hover, input[type=button]:hover, input[type="reset"]:hover {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: black 4px 4px;
}
input[type=submit]:active, input[type=submit]:focus, input[type=button]:active, input[type=button]:focus, input[type="reset"]:active, input[type="reset"]:focus {
  position: relative;
  top: 6px;
  left: 6px;
  box-shadow: none;
  outline: none;
}
input[type=submit].big, input[type=button].big, input[type="reset"].big {
  display: block;
  width: 425px;
  margin: 10px auto;
  padding: 10px;
  font-size: 20px;
}
input[type=submit].red, input[type=button].red, input[type="reset"].red {
  background: #520000;
  border: 3px solid #8b0505;
}
input[type=submit].blue, input[type=button].blue, input[type="reset"].blue {
  background: #293752;
  border: 3px solid #4c618b;
}

hr {
  border: none;
  border-bottom: 1px solid #ddab76;
  margin: 5px auto;
}
hr.spacer {
  margin: 20px auto;
}
