html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
}

#main {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -64px;
}
#main #pad {
  height: 64px;
}

#foot {
  clear: both;
  position: relative;
  height: 64px;
}

body {
  font: 18px serif;
  background: repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, 0.4) 50px, rgba(0, 0, 0, 0.4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, 0.4) 63px, rgba(0, 0, 0, 0.4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px), repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0, 0, 0, 0.4) 50px, rgba(0, 0, 0, 0.4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, 0.4) 63px, rgba(0, 0, 0, 0.4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px), repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, 0.2) 5px), #d2d22d;
  overflow-y: scroll;
}

h1 {
  line-height: 40px;
  font-size: 32pt;
  font-family: serif;
}

a {
  color: #00B7FF;
}

#main {
  width: 936px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 321px) and (max-width: 985px) {
  #main {
    width: 600px;
  }
}

#head {
  background: white;
  height: 40px;
  margin-bottom: 32px;
  padding: 4px;
  -webkit-box-shadow: 10px 10px black;
  -moz-box-shadow: 10px 10px black;
  box-shadow: 10px 10px black;
}

#body {
  width: 600px;
  background: white;
  -webkit-box-shadow: 10px 10px black;
  -moz-box-shadow: 10px 10px black;
  box-shadow: 10px 10px black;
}

#side {
  float: right;
  width: 304px;
  min-height: 200px;
  margin-left: 32px;
  background: white;
  -webkit-box-shadow: 10px 10px black;
  -moz-box-shadow: 10px 10px black;
  box-shadow: 10px 10px black;
}
@media only screen and (min-width: 321px) and (max-width: 985px) {
  #side {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  #side {
    display: none;
  }
}

#foot {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 936px;
  height: 48px;
  margin: auto;
  background: white;
  -webkit-box-shadow: 10px 10px black;
  -moz-box-shadow: 10px 10px black;
  box-shadow: 10px 10px black;
}
@media only screen and (min-width: 321px) and (max-width: 985px) {
  #foot {
    width: 600px;
  }
}
