<form id="submit" action="/submit" method="post">
	<div id="sub_head">
		<input type="file" name="bann">
		<input type="file" name="icon">
		<input type="text" name="tag" placeholder="ABCD" length="4">
		<input type="text" name="title" placeholder="Titre">
		<input type="text" name="author" placeholder="Organisateur">
	</div>
	<label for="start">Début</label><input type="date" name="start" id="start">
	<label for="end">Fin</label><input type="date" name="end" id="end">
	<textarea name="desc" placeholder="Description"></textarea>
	<input type="text" name="url" placeholder="Lien vers plus d'info">
	<hr>
	<input type="submit"><input type="reset">
</form>
<hr id="rule">
