input[type=submit], input[type=button] {
    &.big {
        display: block;
        width: 425px;
        margin: 25px auto 10px; padding: 10px;
        background: $red_d; color: $light;
        border: 3px solid $red_l;
        font-size: 20px; 
        font-weight: bold;
        cursor: pointer;
        box-shadow: black 6px 6px;
        &:hover {
            position: relative;
                top: 2px; left: 2px;
            box-shadow: black 4px 4px;
        }
        &:active, &:focus {
            position: relative;
                top: 6px; left: 6px;
            box-shadow: none; //black 3px 3px inset;
            outline: none;
        }
    }
}
