input[type=submit], input[type=button], input[type="reset"] {
    margin-right: 8px; padding: 3px 10px;
    cursor: pointer;
    font-weight: bold; color: $lightes;
    background: $dark; border: 3px solid $bann;
    box-shadow: black 6px 6px;
    &:hover {
        position: relative;
            top: 2px; left: 2px;
        box-shadow: black 4px 4px;
    }
    &:active, &:focus {
        position: relative;
            top: 6px; left: 6px;
        box-shadow: none; //black 3px 3px inset;
        outline: none;
    }
    &.big {
        display: block;
        width: 425px;
        margin: 10px auto; padding: 10px;
        font-size: 20px; 
    }
    &.red{
        background: $red_d; 
        border: 3px solid $red_l;
    }
    &.blue{
        background: $blue_d; 
        border: 3px solid $blue_l;
    }
}
hr{
    border: none; border-bottom: 1px solid $light;
    margin: 5px auto;
    &.spacer{
        margin: 20px auto;
    }
}
