a:link, a:visited, a:hover, a:active {
    color: $light;
}

img {
    border: none;
}

hr {
    width: 50%;
    color: $light;
}

p {
    text-align: justify;
    padding: 0 10px 5px;
    //text-indent: 1em;
}

cite {
    display: block;
    margin: 7px 15px 0px 7px; padding-left: 7px;
    border-left: 1px dashed $lightes;
    color: $lightes;
}

h1,h2,h3,h4,h5,h6{
    margin: 5px 10px 0;
}
h3{
    font-size: 20px;
    font-weight: 600;
}
h2{
    font-size: 24px;
    font-weight: 600;
}

.picto{
    padding: 8px;
    vertical-align: middle;
    background: url(/img/rewardBg_trash.gif);
    &.rare{
        background: url(/img/rewardBg_rare.gif);
    }
}
