a:link, a:visited, a:hover, a:active {
    color: $light;
}

img {
    border: none;
}

hr {
    width: 50%;
    color: $light;
}

p {
    text-align: justify;
    padding: 0 10px 5px;
    //text-indent: 1em;
}

cite {
    display: block;
    margin: 7px 15px 0px 7px; padding-left: 7px;
    border-left: 1px dashed $lightes;
    color: $lightes;
}

h1,h2,h3,h4,h5,h6{
    margin: 8px 10px 4px;
}
h2{
    font-size: 24px;
    font-weight: 600;
}
h3{
    font-size: 20px;
    font-weight: 600;
}
h4{
    font-size: 18px;
}

.picto{
    padding: 8px;
    vertical-align: middle;
    background: url(/img/rewardBg_trash.gif);
    &.rare{
        background: url(/img/rewardBg_rare.gif);
    }
}

input[type=checkbox]{
    display: none;
    & + label{
        margin-left: 32px;
        padding-left: 16px;
        background: url(/img/tickOff.gif) no-repeat center left;
        cursor: pointer;
    }
    &:checked + label{
        background: url(/img/tickOn.gif) no-repeat center left;
    }
}
